/* violet-section */
.text-violet{
  color: #EE82EE;
}
.bg-violet{
 background: #EE82EE;
}

/* deepink-section */
.text-deepink{
  color: #FF1493;
}
.bg-deepink{
 background: #FF1493;
}

/* lightgreen-section */
.text-lightgreen{
  color: #90EE90;
}
.bg-lightgreen{
 background: #90EE90;
}

/* indigo-section */
.text-indigo{
  color: #4B0082;
}
.bg-indigo{
 background:#4B0082;
}

/* lime-section */
.text-lime{
  color: #00FF00;
}
.bg-lime{
 background: #00FF00;
}

/* maroon-section */
.text-maroon{
  color: #800000;
}
.bg-maroon{
 background: #800000;
}

/* tomato-section */
.text-tomato{
  color: #FF6347;
}
.bg-tomato{
 background: #FF6347;
}

/* turquoise-section */
.text-turquoise{
  color: #40E0D0;
}
.bg-turquoise{
 background: #40E0D0;
}

/* btn-indigo-section */
.btn-indigo{
  background: #4B0082;
  border-color: #4B0082;
  color: white;
}

